/*==============================================================================

General

==============================================================================*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition-duration: 500ms;
	transition-property: none;
}

body {
	background: #111;
	background: -webkit-radial-gradient(#222, #000);
	font-family: sans-serif;
	overflow: hidden;
}

/*==============================================================================

Game

==============================================================================*/

/* game */
.g {
	box-shadow: 0 0 0 6px #000;
	left: 50%;
	position: absolute;
	top: 50%;
}

/* state */
.s {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

/*==============================================================================

Play State - Tiles - Base

==============================================================================*/

.tile {
	background: hsla(0, 0%, 100%, 0.05);
	left: 0;
	position: absolute;
	top: 0;
	transition-property: background;
}

.tile:hover {
	background: #666;
	background: hsla(0, 0%, 100%, 0.2);
	cursor: crosshair;
	transition-duration: 0;
}

/*==============================================================================

Play State - Tiles - Path

==============================================================================*/

.tile.path {
	background: hsla(0, 0%, 0%, 0.3);
	background: #111;
	box-shadow: 0 -6px 0 #000;
}

.tile.path:hover {
	background: #311;
	cursor: not-allowed;
}

/*==============================================================================

Play State - Buttons - General

==============================================================================*/

.row {
	background: #000;
	height: 40px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 100;
}

.top-row {
	top: 0;
}

.bot-row {
	bottom: 0;
	padding-top: 1px;
}

.b {
	background: #333;
	color: hsla(0, 0%, 100%, 0.5);
	cursor: pointer;
	display: block;
	float: left;
	font-size: 13px;
	height: 39px;
	line-height: 36px;
	margin: 0 1px 0 0;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 1px #000;
	transition-property:
		background,
		box-shadow,
		color
	;
}

.b:before {
	background: -webkit-linear-gradient(transparent, hsla(0, 0%, 100%, 0.1));
	content: '';
	height: 50%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.b:hover {
	background: #444;
	color: #fff;
	transition-duration: 0;
}

.s1 { width: 39px; }
.s2 { width: 79px; }
.s3 { width: 119px; }
.s3:last-child { width: 120px; margin-right: 0; }
.s4 { width: 159px; }
.s4:last-child { width: 160px; margin-right: 0; }

.b i {
	display: inline-block;
	font-size: 16px;
	font-style: normal;
	margin-right: 3px;
}

/*==============================================================================

Play State - Buttons - Play/Pause

==============================================================================*/

.playing .b-play {
	background: #222;
	box-shadow:
		inset 0 0 0 1px #333,
		inset 0 0 10px hsla(0, 0%, 0%, 0.75)
	;
	color: #fff;
}

.playing .b-play:hover {
	background: #333;
}

/*==============================================================================

Play State - Buttons - Speed

==============================================================================*/

.x1 .b-x1,
.x1 .b-x1:hover,
.x2 .b-x2,
.x2 .b-x2:hover,
.x3 .b-x3,
.x3 .b-x3:hover {
	background: #222;
	box-shadow:
		inset 0 0 0 1px #333,
		inset 0 0 10px hsla(0, 0%, 0%, 0.75)
	;
	color: #fff;
	cursor: default;
}

/*==============================================================================

Play State - Buttons - Attacks

==============================================================================*/

.b-e {
	background: hsl(120, 30%, 20%);
	box-shadow: inset 0 -3px 0 hsl(120, 70%, 60%);
	color: hsl(120, 70%, 60%);
}

.b-e:hover {
	background: hsl(120, 40%, 30%);
	box-shadow: inset 0 -3px 0 hsl(120, 80%, 70%);
	color: hsl(120, 90%, 80%);
}

.b-w {
	background: hsl(200, 30%, 20%);
	box-shadow: inset 0 -3px 0 hsl(200, 70%, 60%);
	color: hsl(200, 70%, 60%);
}

.b-w:hover {
	background: hsl(200, 40%, 30%);
	box-shadow: inset 0 -3px 0 hsl(200, 80%, 70%);
	color: hsl(200, 90%, 80%);
}
/*
.b-a {
	background: hsl(0, 0%, 30%);
	box-shadow: inset 0 -3px 0 hsl(0, 0%, 70%);
	color: hsl(0, 0%, 70%);
}

.b-a:hover {
	background: hsl(0, 0%, 40%);
	box-shadow: inset 0 -3px 0 hsl(0, 0%, 80%);
	color: hsl(0, 0%, 90%);
}
*/

.b-a {
	background: hsl(60, 30%, 20%);
	box-shadow: inset 0 -3px 0 hsl(60, 70%, 60%);
	color: hsl(60, 70%, 60%);
}

.b-a:hover {
	background: hsl(60, 40%, 30%);
	box-shadow: inset 0 -3px 0 hsl(60, 80%, 70%);
	color: hsl(60, 90%, 80%);
}


.b-f {
	background: hsl(0, 30%, 20%);
	box-shadow: inset 0 -3px 0 hsl(0, 70%, 60%);
	color: hsl(0, 70%, 60%);
}

.b-f:hover {
	background: hsl(0, 40%, 30%);
	box-shadow: inset 0 -3px 0 hsl(0, 80%, 70%);
	color: hsl(0, 90%, 80%);
}

/*==============================================================================

Play State - Buttons - Mute/Unmute

==============================================================================*/

.muted .b-mute {
	background: #222;
	box-shadow:
		inset 0 0 0 1px #333,
		inset 0 0 10px hsla(0, 0%, 0%, 0.75)
	;
	color: #fff;
}

.muted .b-mute:hover {
	background: #333;
}

/*==============================================================================

Play State - Labels and Displays

==============================================================================*/

.l,
.d {
	background: #090909;
	color: hsla(0, 0%, 100%, 0.5);
	display: block;
	float: left;
	font-size: 13px;
	height: 39px;
	line-height: 36px;
	margin: 0 1px 0 0;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 1px #000;
	transition-property:
		background,
		box-shadow,
		color
	;
}

.l:before,
.d:before {
	background: -webkit-linear-gradient(transparent, hsla(0, 0%, 100%, 0.1));
	content: '';
	height: 50%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.l i,
.d i {
	font-size: 16px;
	font-style: normal;
}

.l {
	background: #111;
}

.d {
}

.w {
	margin: 0 2px;
}

.w-e {
	color: hsl(120, 90%, 60%);
}

.w-w {
	color: hsl(200, 90%, 60%);
}

.w-a {
	color: hsl(60, 90%, 60%);
}

.w-f {
	color: hsl(0, 90%, 60%);
}