/*==============================================================================

General

==============================================================================*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition-duration: 500ms;
	transition-property: none;
}

body {
	background: #111;
	background: -webkit-radial-gradient(#282828, #060606);
	font-family: sans-serif;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*==============================================================================

Game

==============================================================================*/

/* game */
.g {
	box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.5);
	left: 50%;
	position: absolute;
	top: 50%;
}

/* state */
.s {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

/*==============================================================================

Play State - Tiles - Base

==============================================================================*/

.tile {
	background: hsla(0, 0%, 100%, 0.05);
	left: 0;
	position: absolute;
	top: 0;
	transition-property: background;
}

.tile:hover {
	background: #666;
	background: hsla(0, 0%, 100%, 0.2);
	/*cursor: crosshair;*/
	transition-duration: 0;
}

/*==============================================================================

Play State - Tiles - Path

==============================================================================*/

.tile.path {
	background: hsla(0, 0%, 0%, 0.3);
	background: #111;
	box-shadow: 0 -6px 0 #000;
}

.tile.path:hover {
	background: #311;
	cursor: not-allowed;
}

/*==============================================================================

Play State - Buttons - General

==============================================================================*/

.row {
	background: #000;
	height: 40px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 100;
}

.top-row {
	top: 0;
}

.bot-row {
	bottom: 0;
	padding-top: 1px;
}

.b {
	background: #333;
	box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
	color: hsla(0, 0%, 100%, 0.6);
	cursor: pointer;
	display: block;
	float: left;
	font-size: 13px;
	height: 39px;
	line-height: 37px;
	margin: 0 1px 0 0;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 1px #000;
	transition-property:
		background,
		box-shadow,
		color
	;
}

.b:before {
	background: -webkit-linear-gradient(transparent, hsla(0, 0%, 100%, 0.075));
	content: '';
	height: 50%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.b:hover {
	background: #444;
	color: #fff;
	transition-duration: 0;
}

.s1 { width: 39px; }
.s2 { width: 79px; }
.s3 { width: 119px; }
.s3:last-child { width: 120px; margin-right: 0; }
.s4 { width: 159px; }
.s4:last-child { width: 160px; margin-right: 0; }

.b i {
	display: inline-block;
	font-size: 16px;
	font-style: normal;
	margin-right: 3px;
}

/*==============================================================================

Play State - Buttons - Play/Pause

==============================================================================*/

.playing .b-play {
	background: #222;
	box-shadow:
		inset 0 0 0 1px #333,
		inset 0 0 10px hsla(0, 0%, 0%, 0.75)
	;
	color: #fff;
}

.playing .b-play:hover {
	background: #333;
}

/*==============================================================================

Play State - Buttons - Speed

==============================================================================*/

.x1 .b-x1,
.x1 .b-x1:hover,
.x2 .b-x2,
.x2 .b-x2:hover,
.x3 .b-x3,
.x3 .b-x3:hover {
	background: #222;
	box-shadow:
		inset 0 0 0 1px #333,
		inset 0 0 10px hsla(0, 0%, 0%, 0.75)
	;
	color: #fff;
	cursor: default;
}

/*==============================================================================

Play State - Buttons - Attacks

==============================================================================*/

.b-e {
	background: hsl(120, 30%, 20%);
	/*box-shadow: inset 0 -3px 0 hsl(120, 70%, 60%);*/
	color: hsl(120, 70%, 60%);
}

.b-e:hover {
	background: hsl(120, 40%, 30%);
	/*box-shadow: inset 0 -3px 0 hsl(120, 80%, 70%);*/
	color: hsl(120, 90%, 80%);
}

.b-w {
	background: hsl(200, 30%, 20%);
	/*box-shadow: inset 0 -3px 0 hsl(200, 70%, 60%);*/
	color: hsl(200, 70%, 60%);
}

.b-w:hover {
	background: hsl(200, 40%, 30%);
	/*box-shadow: inset 0 -3px 0 hsl(200, 80%, 70%);*/
	color: hsl(200, 90%, 80%);
}
/*
.b-a {
	background: hsl(0, 0%, 30%);
	box-shadow: inset 0 -3px 0 hsl(0, 0%, 70%);
	color: hsl(0, 0%, 70%);
}

.b-a:hover {
	background: hsl(0, 0%, 40%);
	box-shadow: inset 0 -3px 0 hsl(0, 0%, 80%);
	color: hsl(0, 0%, 90%);
}
*/

.b-a {
	background: hsl(60, 30%, 20%);
	/*box-shadow: inset 0 -3px 0 hsl(60, 70%, 60%);*/
	color: hsl(60, 70%, 60%);
}

.b-a:hover {
	background: hsl(60, 40%, 30%);
	/*box-shadow: inset 0 -3px 0 hsl(60, 80%, 70%);*/
	color: hsl(60, 90%, 80%);
}


.b-f {
	background: hsl(0, 30%, 20%);
	/*box-shadow: inset 0 -3px 0 hsl(0, 70%, 60%);*/
	color: hsl(0, 70%, 60%);
}

.b-f:hover {
	background: hsl(0, 40%, 30%);
	/*box-shadow: inset 0 -3px 0 hsl(0, 80%, 70%);*/
	color: hsl(0, 90%, 80%);
}

/*==============================================================================

Play State - Buttons - Mute/Unmute

==============================================================================*/

.muted .b-mute {
	background: #222;
	box-shadow:
		inset 0 0 0 1px #333,
		inset 0 0 10px hsla(0, 0%, 0%, 0.75)
	;
	color: #fff;
}

.muted .b-mute:hover {
	background: #333;
}

/*==============================================================================

Play State - Labels and Displays

==============================================================================*/

.l,
.d {
	background: #090909;
	box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.05);
	color: hsla(0, 0%, 100%, 0.6);
	display: block;
	float: left;
	font-size: 13px;
	height: 39px;
	line-height: 37px;
	margin: 0 1px 0 0;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 1px #000;
	transition-property:
		background,
		box-shadow,
		color
	;
}

.l:before,
.d:before {
	background: -webkit-linear-gradient(transparent, hsla(0, 0%, 100%, 0.075));
	content: '';
	height: 50%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.l i,
.d i {
	font-size: 16px;
	font-style: normal;
}

.l {
	background: #111;
}

.d {
}

.w {
	margin: 0 2px;
}

.w-e {
	color: hsl(120, 90%, 60%);
}

.w-w {
	color: hsl(200, 90%, 60%);
}

.w-a {
	color: hsl(60, 90%, 60%);
}

.w-f {
	color: hsl(0, 90%, 60%);
}

/*==============================================================================

Play State - Tower Select/Build

==============================================================================*/

.build-menu-wrap {
	background: hsla(0, 0%, 20%, 0.4);
	bottom: 0;
	/*cursor: not-allowed;*/
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition:
		visibility 150ms 150ms,
		opacity 150ms
	;
	visibility: hidden;
	z-index: 200;
}

.build-menu-open .build-menu-wrap {
	opacity: 1;
	transition-delay: 0;
	visibility: visible;
}

.build-menu {
	cursor: default;
	left: 0;
	position: absolute;
	top: 0;
	width: 280px;
}

.build-selects {
	background: hsla(0, 0%, 0%, 0.75);
	height: 80px;
	width: 100%;
}

.build-select {
	background: #fff;
	cursor: pointer;
	height: 40px;
	position: absolute;
	top: 20px;
	transition: background 300ms;
	width: 40px;
}

.build-d.anim {
	background: hsla(0, 0%, 100%, 0.15);
	border: 2px dashed #fff;
	cursor: default;
	-webkit-animation: build-d 500ms ease-in-out infinite alternate;
}

@-webkit-keyframes build-d {
	to {
		box-shadow: inset 0 0 0 0 transparent;
		opacity: 0;
	}
}

.build-d { background: #fff; }
.build-e { background: hsl(120, 90%, 60%); }
.build-w { background: hsl(200, 90%, 60%); }
.build-a { background: hsl(60, 90%, 60%); }
.build-f { background: hsl(0, 90%, 60%); }

.build-e:hover { background: hsl(120, 100%, 80%); }
.build-w:hover { background: hsl(200, 100%, 80%); }
.build-a:hover { background: hsl(60, 100%, 80%); }
.build-f:hover { background: hsl(0, 100%, 80%); }

.pos-w .build-d { left: 20px; }
.pos-w .build-e { left: 70px; }
.pos-w .build-w { left: 120px; }
.pos-w .build-a { left: 170px; }
.pos-w .build-f { left: 220px; }

.pos-e .build-d { left: 220px; }
.pos-e .build-e { left: 20px; }
.pos-e .build-w { left: 70px; }
.pos-e .build-a { left: 120px; }
.pos-e .build-f { left: 170px; }

.build-info {
	background: hsla(0, 0%, 0%, 0.5);
	font-size: 13px;
	height: 135px;
	left: 0;
	line-height: 1.7;
	opacity: 0;
	padding: 0 20px;
	position: absolute;
	transition: opacity 300ms 300ms;
	width: 100%;
}

.hover-build-select .build-info {
	opacity: 1;
	transition-delay: 0;
}

.pos-n .build-info {
	padding-bottom: 15px;
	top: 80px;
}

.pos-s .build-info {
	bottom: 80px;
	padding-top: 15px;
}

.build-title {
	font-size: 16px;
	font-weight: bold;
}

.build-type {
	color: #fff
}

.hover-e .build-type { color: hsl(120, 90%, 60%); }
.hover-w .build-type { color: hsl(200, 90%, 60%); }
.hover-a .build-type { color: hsl(60, 90%, 60%); }
.hover-f .build-type { color: hsl(0, 90%, 60%); }

.build-divider {
	color: #666;
	font-weight: normal;
	margin: 0 8px;
}

.build-cost {
	color: #fff;
}

.build-desc {
	color: #fff;
	font-style: italic;
}

.build-stat {
	color: #aaa;
}

.build-stat strong {
	display: inline-block;
	margin-right: 3px;
	text-align: right;
	width: 58px;
}

.build-meter {
	display: inline-block;
	margin-right: 3px;
	vertical-align: top;
}

.build-meter span {
	background: #444;
	display: inline-block;
	height: 12px;
	margin-right: 1px;
	position: relative;
	top: 6px;
	vertical-align: top;
	width: 8px;
}

.hover-e .build-meter span { background: hsl(120, 90%, 60%); }
.hover-w .build-meter span { background: hsl(200, 90%, 60%); }
.hover-a .build-meter span { background: hsl(60, 90%, 60%); }
.hover-f .build-meter span { background: hsl(0, 90%, 60%); }

.dmg1 .build-dmg-wrap .build-meter span:nth-child(2),
.dmg1 .build-dmg-wrap .build-meter span:nth-child(3),
.rng1 .build-rng-wrap .build-meter span:nth-child(2),
.rng1 .build-rng-wrap .build-meter span:nth-child(3),
.rte1 .build-rte-wrap .build-meter span:nth-child(2),
.rte1 .build-rte-wrap .build-meter span:nth-child(3),
.dmg2 .build-dmg-wrap .build-meter span:nth-child(3),
.rng2 .build-rng-wrap .build-meter span:nth-child(3),
.rte2 .build-rte-wrap .build-meter span:nth-child(3) { background: #444; }